<?xml version="1.0" encoding="utf-8" ?>
<configuration>		
	<appSettings>	
		<add key="PorkbunIntervals" value="15 min,30 min,1 hour,3 hour,6 hour,12 hour,1 day,1 min" />		
		<add key="PorkbunApiUrl" value="https://api-ipv4.porkbun.com/api/json/v3" />
		<add key="PorkbunApiKey" value="" />
		<add key="PorkbunApiSecret" value="" />
	</appSettings>		
</configuration>