<?xml version="1.0" encoding="utf-8" ?>
<configuration>		
	<appSettings>			
		<add key="PorkbunApiUrlv4" value="https://api-ipv4.porkbun.com/api/json/v3" />
		<add key="PorkbunApiUrl" value="https://api.porkbun.com/api/json/v3" />
		<add key="PorkbunApiKey" value="" />
		<add key="PorkbunApiSecret" value="" />
	</appSettings>		
</configuration>